html {
    background: antiquewhite;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment:fixed;
}


body {

    font-family: Arial;

}

h1,h2  {
    color:darkblue;
}

li {
    color:Black;
}

p {
    padding: 5px;

}